body {
  height: 100vh;
  background-color: #faf9f6;
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0d843d;
  font-size: 1.2rem;
  font-weight: bold;
}

a:hover {
  color: #075125;
}

.navBar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navBar .links {
  display: flex;
  gap: 2rem;
}

.actionBtn {
  background-color: #fedd00;
  color: #00843c;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.actionBtn:hover {
  color: #075125;
  scale: 1.05;
}

.actionBtn:active {
  scale: 0.95;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: #0d843d;
  margin: 6px 0;
  transition: 0.4s;
  display: none;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* DROPDOWN MENU */
.dropdownMenu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgba(194, 194, 194, 1);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 9999;
}

.dropdownMenu.open {
  height: 270px;
  display: block;
}

.dropdownMenu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownMenu .actionBtn {
  width: 80%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  justify-content: center;
}

/* HERO */
section#hero {
  min-height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-image: url('../media/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heroTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  backdrop-filter: blur(100px);
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  height: 100%;
}

#hero p {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  backdrop-filter: blur(100px);
  font-size: 1rem;
  border-radius: 8px;
  padding: 8px;
  margin-top: 0px;
}

#hero .actionBtn {
  width: 100px;
  font-size: 1.5rem;
  margin-bottom: 0px;
  margin-top: 0px;
}

#heroSec {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.heroImgs img {
  width: 150px;
  max-height: 200px;
  object-fit: cover;
  margin: 10px;
}

.heroImgs h2 {
  color: #0d843d;
}

.aboutSec {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 50px;
  flex-basis: 44.33%;
}

.aboutSec h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #0d843d;
}
.aboutSec p {
  text-align: center;
  font-size: 1rem;
  margin: 0;
  color: #8a9097;
}
/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .navBar .links,
  .navBar .actionBtn {
    display: none;
  }

  .bar1,
  .bar2,
  .bar3 {
    display: block;
  }

  .dropdownMenu {
    display: block;
  }

  section#hero {
    background-size: cover;
    background-position: right center;
  }
  .heroTxt {
    margin-top: 120px;
  }
  #hero h1 {
    font-size: 1.1rem;
  }

  #hero p {
    font-size: 0.8rem;
  }

  #hero .actionBtn {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .dropdownMenu {
    left: 2rem;
    width: unset;
  }
}
@media (min-width: 993px) {
  .dropdownMenu.open {
    display: none;
  }
}
